
<div>
    <h2>CREATE </h2>
</div>



<form method="POST" action="/create" class = "addrecipe">
    INGREDIENTS:
    <input type="text" name="ingredients"> <br>
    INSTRUCTIONS:
    <input type="text" name="instructions" ><br>



    <input type="submit" value="CREATE">
</form>
