
<div>
    <h2>CREATE </h2>
</div>



<form method="POST" action="/create" class = "addrecipe">
    RECIPE NAME:
    <input type="text" name="name"> <br>
    QUANTITY:<br>
    <input type="text" name="qty1" ><br>
    <input type="text" name="qty2" ><br>
    <input type="text" name="qty3" ><br>
    <input type="text" name="qty4" ><br>
    <input type="text" name="qty5" ><br>



    INGREDIENTS:<br>
    <input type="text" name="ingredient1"> <br>
    <input type="text" name="ingredient2"> <br>
    <input type="text" name="ingredient3"> <br>
    <input type="text" name="ingredient4"> <br>
    <input type="text" name="ingredient5"> <br>
    INSTRUCTIONS:<br>
    <ol>
        <li><input type="text" name="instruction1" ></li>
    <li><input type="text" name="instruction2" ></li>
    <li><input type="text" name="instruction3" ></li>
    <li><input type="text" name="instruction4" ></li>
    <li><input type="text" name="instruction5" ></li>
    </ol>
    TAGS:
    <input type="text" name="tags" ><br>




    <input type="submit" value="CREATE">
</form>
