<p><a href="http://localhost:3000/">HOME</a>

</p>
<p><a href="http://localhost:3000/find">WHAT'S IN MY FRIDGE?</a>

</p>
<p><a href="http://localhost:3000/create">CREATE RECIPE</a>

</p>

</p>
<p><a href="http://localhost:3000/">MY RECIPES</a>
</p>
